*{
    padding: 0;margin: 0;
}
body{
    text-align: center;
    background-color: #565552;
}
.container{
  height: 70vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.game{
   height: 60vmin;
   width: 60vmin;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width:  18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 30px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
}
#reset{
    padding: 15px;
}
.tic {
    color: #fff;
}

.msg {
    color: #fff;
}
.msg-container button{
    padding: 10px;
}
.hide{
    display: none;
}